
body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: 'Courier New', monospace;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: black;
}

.logo-container {
    width: 60px;
    height: auto;
    margin-left: 20px;
}

.logo {
    width: 100%;
    height: auto;
}
